.App {
  background: url('./train.jpg');
  background-size: cover;
  height: 100vh;
}

.menu-wrapper {
  margin: auto;
  padding-top: 2%;
  width: 60%;
}

.menu-items{
  color: antiquewhite;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

.lyrics-wrapper {
  
  border-radius: 5%;
  width: 90vw;
  height: 80vh;
  background: black;
  margin: auto;
}

.lyrics {
  padding: 5%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: wheat;
  font-weight: bold;
  font-size: 1.05em;
  }

.verse {
  margin-bottom: 7%;
}

.lines {
  margin-top: 1%;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  color: wheat;
  font-weight: bold;
  position: relative;
  left: 50%;
  top: 30%;
  z-index: 2;
  
}

.settings-form {
  width: 30vw;
  background: lightgoldenrodyellow;
  margin-bottom: 1vh;
}

.home-form-wrapper{
  width: 30vw;
}

.baby-form-wrapper{
  width: 30vw;
}

.settings-submit{
  margin-top: 1.5vh;
  font-weight: bolder;
  width: 15vw;
  height: 5vh;
}

.speech-bubble-image img{
  position: relative;
  width: 75%;
  top: -100%;
  left: 30%;
  z-index: 1;
}

  .bubble {
    position: relative;
    line-height: 24px;
    width: 30%;
    height: 10%;
    background:white;
    border-radius: 40px;
    padding: 10%;
    right: -42%;
    top:-75%;

  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: -16px;
    top: 40px;
    transform: rotate(45deg);
  }
  

.rojo-image img{
  position: relative;
  left: 10%;
}
